<ion-header>
  <ion-toolbar>
    <ion-title><h3>Promedio:</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <h4>Su nota de presentacion es:</h4>
      {{vernotapres()}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h4>Su nota minima de aprobacion es:</h4>
      {{vernotamin()}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-button color="success" (click)="mandarprom()">
      <h4>Continuar</h4>
    </ion-button>
  </ion-item>

  <ion-button size="default" expand="expand" (click)="irHome()">Volver</ion-button>
  <ion-button size="default" expand="expand" (click)="irMenu()">Inicio</ion-button>
</ion-content>
