<ion-header>
    <ion-toolbar>
      <ion-title><h3>Horas:</h3></ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  
  
  <ion-content>
  
    <h3>Seleccione la cantidad de horas totales de la asignatura:</h3>
    <ion-item>
      <ion-button  size="large" color="success" (click)="cal32()">
        <h4>32</h4>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="large" color="success" (click)="cal64()">
        <h4>64</h4>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="large" color="success" (click)="cal96()">
        <h4>96</h4>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="large" color="success" (click)="cal128()">
        <h4>128</h4>
      </ion-button>
    </ion-item>
  
  
    <ion-button size="default" expand="expand" (click)="irHome()">Volver</ion-button>
    <ion-button size="large" expand="expand" (click)="irMenu()">Inicio</ion-button>
  </ion-content>
