<ion-header>
  <ion-toolbar>
    <ion-title><h3>Acerda de:</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
      Integrantes de:
      </ion-card-subtitle>
      <ion-card-title>Astora App´s</ion-card-title>
      
      <img src="assets/img/acerca.png">
    
    </ion-card-header>
  
    <ion-card-content>
      * Carlos Riquelme -- Presidente <br>
      * Victor Silva -- Vicepresidente <br>
      * Jose Cuevas -- Supervisor <br>
      * Pedro Valencia -- Mascota <br>
     </ion-card-content>
  </ion-card>
  
  <ion-item>
      <ion-button size="default" expand="expand" (click)="irMenu()">Volver al Menu</ion-button>   
      <ion-button size="default" expand="expand" (click)="presentAlert()">Contacto</ion-button>  
  </ion-item>

  <ion-grid>
      <ion-row>        
        <ion-col>
          <div>
            2 de 2
          </div>
        </ion-col>        
      </ion-row>
    </ion-grid>
         
  
</ion-content>
