<ion-header>
  <ion-toolbar>
    <ion-title><h3>Acerda de:</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
      Integrantes de:
      </ion-card-subtitle>
      <ion-card-title>Astora App´s</ion-card-title>
      
      <ion-img [src]=""></ion-img>
    
    </ion-card-header>
  
    <ion-card-content>
      * Carlos Riquelme -- Presidente <br>
      * Victor Silva -- Vicepresidente <br>
      * Jose Cuevas -- Supervisor <br>
      * Pedro Valencia -- Mascota <br>
     </ion-card-content>
  </ion-card>
  
  <ion-item>
      <ion-button size="default" expand="expand" (click)="irMenu()">Volver al Menu</ion-button>
    
  </ion-item>
</ion-content>
