<ion-header>
  <ion-toolbar>
    <ion-title><h3>Promedio:</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label><h4>Ingrese la nota de su examen: </h4></ion-label>
    <ion-input [(ngModel)]="exam128"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button size="default" expand="expand" color="success" (click)="promfexam128()">
      <h4>Calcular</h4>
    </ion-button>
  </ion-item>

  
  <ion-button size="default" expand="expand" (click)="irMenu()">Inicio</ion-button>
</ion-content>